* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}
.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 9px;
  border-bottom: 1px solid lightgray;
}

.app_header_container{
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-top: 4px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
  max-width: 105px;
  padding-left: 10px;
}

.app_signup{
  display: flex;
  flex-direction: column;
}

.app_posts{
  padding: 20px;
}

.app_uploadmessage{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-top: 1px solid lightgray;
  position: sticky;
  bottom: 0; 
}

.app_signup{
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}